<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <configSections>
		<section
				name="securityConfigurationSection"
				type="SunEdison.Core.Security.Configuration.SecurityConfigurationSection, SunEdison.Core"
		/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="SunEdison.NewSam.NewSamWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="SunEdison.Core.Security.IAuthorizationService, SunEdison.Core" url="tcp://STPSESAM01:8095/AuthorizationService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Common.ICommonService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/CommonService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Design.IDesignService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/DesignService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Documents.IDocumentsService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/DocumentsService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Energy.IEnergyService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/EnergyService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Epc.IEpcService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/EpcService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Financial.IFinancialService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/FinancialService.rem" />
				<wellknown type="SunEdison.NewSam.Core.FinancialPlanning.IFinancialPlanningService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/FinancialPlanningService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Framework.IFrameworkService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/FrameworkService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Gui.IGuiService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/GuiService.rem" />
				<wellknown type="SunEdison.NewSam.Core.HumanResources.IHumanResourcesService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/HumanResourcesService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Inventory.IInventoryService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/InventoryService.rem" />
				<wellknown type="SunEdison.NewSam.Core.MetaData.IMetaDataService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/MetaDataService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Mrp.IMrpService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/MrpService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Oracle.IOracleService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/OracleService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Planning.IPlanningService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/PlanningService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Pricing.IPricingService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/PricingService.rem" />
				<wellknown type="SunEdison.NewSam.Core.ProjectFinance.IProjectFinanceService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/ProjectFinanceService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Projects.IProjectsService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/ProjectsService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Rec.IRecService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/RecService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Report.IReportService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/ReportService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Sales.ISalesService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/SalesService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Security.ISecurityService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/SecurityService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Timberline.ITimberlineService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/TimberlineService.rem" />
				<wellknown type="SunEdison.NewSam.Core.Workflow.IWorkflowService, SunEdison.NewSam.Core" url="tcp://STPSESAM01:8095/WorkflowService.rem" />

				<wellknown type="SunEdison.Sam.Core.DataMining.IDataMiningService, SunEdison.Sam.Core" url="tcp://10.8.22.1:8099/DataMiningService.rem" />
				<wellknown type="SunEdison.Sam.Core.Monitoring.IMonitoringService, SunEdison.Sam.Core" url="tcp://10.8.22.1:8099/MonitoringService.rem" />
				<wellknown type="SunEdison.Sam.Core.Service.IServiceService, SunEdison.Sam.Core" url="tcp://10.8.22.1:8099/ServiceService.rem" />
				<wellknown type="SunEdison.Sam.Core.Logical.ILogicalService, SunEdison.Sam.Core" url="tcp://10.8.22.1:8099/LogicalService.rem" />

				<wellknown type="SunEdison.LinkProxy.Core.ILinkProxyService, SunEdison.LinkProxy.Core" url="tcp://STPSEPriceLink:8091/LinkProxyService.rem" />

				<wellknown type="SunEdison.FileSystem.Core.IFileSystemService, SunEdison.FileSystem.Core" url="tcp://STPSESAM01:8092/FileSystemService.rem" />
			</client>
		</application>
	</system.runtime.remoting>
	<securityConfigurationSection>
		<activeDirectory 
			ldapPath="LDAP://bv-dc1"
			domain="SUNEDISON"
		/>
	</securityConfigurationSection>
	<applicationSettings>
		<SunEdison.NewSam.NewSamWinForm.Properties.Settings>
			<setting name="SAM_FedEx_TrackService" serializeAs="String">
				<value>https://gatewaybeta.fedex.com:443/web-services/track</value>
			</setting>
		</SunEdison.NewSam.NewSamWinForm.Properties.Settings>
	</applicationSettings>
</configuration>
